@import "tailwindcss";
@plugin "flowbite/plugin";
@import "flowbite/src/themes/default";
@source "../node_modules/flowbite";
@import "nprogress/nprogress.css";
@plugin "flowbite-typography";
#nprogress .bar {
  background: #3b82f6 !important; /* Tailwind blue-500 */
  height: 2px;
}
@layer base { html { scrollbar-gutter: stable }} /* reserving space for scrollbar (neede for navbar, not to "jump" slightly to the right) */